{
  "presets": [
    "react",
    "flow",
    "babel-preset-stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-flow-strip-types"
      ]
    }
  }
}
